{% if form %}
    <td><span class="fw-bold">{{ data.id }}</span></td>
    <form>
        {{ form.csrf_token }}
        <td>{{ form.name }}</td>
        <td>{{ form.value }}</td>
    </form>
    <td><span class="fw-bold">{{ data.ts.strftime('%d %b %Y') }}</span></td>
    <td>
        <button class="btn-sm btn-warning cancel_form">Cancel</button>
        <button class="btn-sm btn-success save_form">Save</button>
    </td>
{% else %}
    <td><span class="fw-bold">{{ data.id }}</span></td>
    <td><span class="fw-normal">{{ data.name }}</span></td>
    <td><span class="fw-normal">{{ data.value }}</span></td>
    <td><span class="fw-normal">${{ data.ts.strftime('%d %b %Y') }}</span></td>
    <td>
        <a class="btn btn-sm btn-secondary" href="#">Edit</a>
        <a class="btn btn-sm btn-danger" href="#">Delete</a>
    </td>
{% endif %}